@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* ============ Configuracao global - Declaracao de variaveis ============ */

:root{
    --corBanner: #515050;
    --corPrincipal: #d4a00a;
    --corSecundaria: #d4a00a;
    --corTitulos: #eaeaea;
    --corTextos: #eaeaea;
    --corOverlay: #7a7a7a;
    --corLink: #d4a00a;
    --corLinkHover: #4333b7;
    --corShadow: rgba(0, 0, 0, 0.7);
    --fontTextos: 'Open Sans', sans-serif;
    --fontPrincipal: 'Ubuntu', sans-serif;
    --fontPesoTextos: 400;
    --fontLineHeigh: 1.7;
    --fontTamanhoTextos: 1.4rem;
    --fontTamanhoTitulos: 1.8rem;
    --fontPesoTitulos: 700; 
    --fontTamanhoGrandes: 1.8rem;
    --fontTamanhoExtra: 2.5rem;
    --sombraEfeitoTitulos: -8px -5px 3px rgba(0, 0, 0, 0.7);
}

/* ============ Configuracao global - Selecao do mouse em texto cores ============ */

::selection{
    color: #eaeaea;
    background: #4333b7;
}

a{
    text-decoration: underline;
    color: var(--corLink);
}

h1{
    font-family: var(--fontPrincipal);
    font-size: 2rem;
    color: var(--corTitulos);
    text-align: center;
    padding: 16px;
}

h3{
    font-size: var(--fontTamanhoGrandes);
    font-weight: var(--fontPesoTitulos);
    color: var(--corTitulos);
    text-align: center;
}

p{
    font-size: var(--fontTamanhoTextos);
    font-weight: var(--fontPesoTextos);
    line-height: var(--fontLineHeigh);
    text-align: justify;
    padding: 12px 0;
    color: var(--corTextos);
}

li{
    font-size: var(--fontTamanhoTitulos);
    font-weight: var(--fontPesoTitulos);
    color: var(--corTitulos);
    padding: 12px;
    margin-left: 1rem;
    list-style: none;
}

details summary{
    width: 80%;
    margin: auto;
    padding: 8px;
    font-size: var(--fontTamanhoTextos);
    color: var(--corTitulos);
    text-align: center;
    cursor: pointer;
    background-color: #c77f12;
    border-radius: 12px;
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.7);
}

details p{
    width: 70%;
    font-size: 1.3rem;
    text-align: justify;
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
}

figure{
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
}

figcaption{
    font-family: var(--fontTextos);
    font-size: 1rem;
    color: var(--corOverlay);
}

img{
    width: 85%;
    margin: auto;
    padding: 1rem;
    border-radius: 2rem;
}

code{
    width: 50%;
    font-size: var(--fontTamanhoTextos);
    font-weight: var(--fontPesoTextos);
    font-style: italic;
    background: var(--corBanner);
    color: var(--corTitulos);
    padding: 4px;
}

body{
    background-color: #434343;
    background-color: #485461;
    background-color: #000000;
    background-image: linear-gradient(30deg, #080808 0%, #2c3e50 20%, #28313B 75%);
}   

/* ================= HEADER - CABECALHO DO SITE ================= */

header .container{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

header .container .logoM3d{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 24px;
    color: #FFE600;
}

header .container .logoM3d svg{
    width: 90px;
}

header .container .topMenu nav{
    display: flex;
    align-items: center;
    gap: 32px;
}

header .container .topMenu nav a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: #eaeaea;
    transition: 0.5s;
}

header .container .topMenu nav a:hover{
    text-decoration: underline 2px #d4a00a;
    text-underline-offset: 8px;
}

header .container .topMenu nav button{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background: #d4a00a;
    color: #eaeaea;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer; 
    transition: 0.5s;
}

header .container .topMenu nav button:hover{
    background: #4333b7;
    color: #eaeaea;
}

/* ================================== MAIN - CORPO DO SITE ==================================*/

main {
    font-family: var(--fontTextos);
}

main .banner{
    width: 100%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    background: var(--corBanner);
}

main .banner p{
    width: 90%;
    text-align: center;
}

main .banner ul{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
}

main .banner ul li{
    font-size: 1.5rem;
}

main .detalheServicos{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    gap: 2rem;
}

main .detalheServicos summary{
    text-align: left;
}

main .interfacesUiSupervisorio{
    width: 90%;
    margin: auto;
    justify-content: center;
}

main .interfacesUiSupervisorio iframe{
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

main .youtubeVideo{
    width: 80%;
    margin: auto;
    padding: 18px;
}

main .youtubeVideo iframe{
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 12px;
}
/* #################################### FOOTER - Rodape do site configuracao #################################### */

footer .container{
    border-top: solid 0.4px #eaeaea;
    padding: 12px;
    font-family: 'Ubuntu', sans-serif;
}

footer .container h3{
    text-align: center;
    color: #eaeaea;
    font-weight: 500;
    font-size: 1rem;
}

footer .container .icones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    gap: 30px;
    fill: #7a7a7a;
}

footer .container .icones .iconeLogo1 a svg{
    width: 70px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo1 a svg:hover{
    fill: #3F72F2;
    transform: scale(1.2) translate(0%, -12px);
}

footer .container .icones .iconeLogo2 a svg{
    width: 50px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo2 a svg:hover{
    fill: #2746E6;
    transform: scale(1.2) translate(0%, -12px);
}

footer .container .icones .iconeLogo3 a svg{
    width: 50px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo3 a svg:hover{
    fill: #eebb1a;
    transform: scale(1.2) translate(0%, -12px);
}

footer .container .icones .iconeLogo4 a svg{
    width: 70px;
    transition: 0.5s;
}

footer .container .icones .iconeLogo4 a svg:hover{
    fill: #c30101;
    transform: scale(1.2) translate(0%, -12px);
}

/* #################################### Responsividade do site  telas pequenas 769px - 400px ###################### */

@media screen and (max-width: 960px){

    img{
        width: 100%;
        padding: 0;
        border-radius: 12px;
    }

    figure{
        width: 100%;
    }

    header .container .logoM3d{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ff9800;
        font-size: 14px;
        gap: 4px;
    }

    header .container .topMenu nav{
        padding: 0 12px;
        gap: 8px;
    }

    header .container .topMenu nav a{
        font-size: 1rem;
    }

    header .container .topMenu nav button{
        font-size: 1rem;
        padding: 8px;
    }

    main .banner ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }
    main .detalheServicos{
        width: 100%;
        padding: 8px;
    }

    main .detalheServicos ul{
        width: 100%;
    }

    main .detalheServicos ul li p{
        width: 100%;
        font-size: 1.1rem;
    }

    main .detalheServicos p{
        text-align: left;
        padding: 16px;
    }

    main .detalheServicos summary{
        width: 100%;
        font-size: 1.1rem;
    }

}

/* #################################### Responsividade do site  telas pequenas 769px - 400px ###################### */

@media screen and (max-width: 480px){

    header .container .logoM3d{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        color: #ff9800;
        font-size: 14px;
        gap: 4px;
    }

    header .container .topMenu nav{
        padding: 0 12px;
        gap: 8px;
    }

    header .container .topMenu nav a{
        font-size: 1rem;
    }

    header .container .topMenu nav button{
        font-size: 1rem;
        padding: 8px;
    }

    main .banner p{
        width: 100%;
        padding: 0;
        text-align: left;
    }
    
    main .banner ul li{
        font-size: 1.2rem;
    }

    main .detalheServicos p{
        text-align: left;
        padding: 16px;
    }

    main .youtubeVideo{
        width: 95%;
        padding: 0;
    }

}
